<!-- Just a welcoming title that's all -->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/logo.svg">
</div>

<!-- This will be visible when logged in -->

<div class="container" *ngIf="loggedIn">
  <span>
    <input type="search" [(ngModel)]="searchText" placeholder="Search for..." />
    <button type="submit" (click)="search()">Search</button>
  </span>

  <!-- This will be visible when a request is loading -->

  <div class="spinner" *ngIf="loadingSearchResults">
    <img src="assets/spinner.gif" />
  </div>

  <!-- This is the results -->

  <div class="results" *ngIf="results && !loadingSearchResults">
    <div class="result-item" *ngFor="let result of results">
      <div (click)="getMoreInfo(result.id)">
        <div>
          <img src="{{result.imageUrl}}" />
        </div>
        <div class="name-brand-text">
          {{result.name}} - <i>{{result.brand.name}}</i>
        </div>

        <div class="product-spinner" *ngIf="clickedProductId === result.id && loadingProduct">
          <img class="product-spinner-img" src="assets/spinner.gif" />
        </div>
        <div class="download-btn" *ngIf="product.id === result.id">
          <button (click)="download(result.id)">Download</button>
        </div>
      </div>
    </div>
  </div>


  <!-- If an error occured, display it here -->

  <div *ngIf="error">
    And error happened: {{error | json}}
  </div>
</div>

<!-- Visible when not logged in -->

<div class="container" *ngIf="!loggedIn">
  You are not logged in.
  <button (click)="login()">Login</button>
</div>
